.bottom-margin {
  margin-bottom: 40px;
}

.about-image {
  max-width: 350px;
  margin-bottom: 40px;
}

.link-text {
  color: rgba(80,80,80,1);
  font-weight: bold;
  font-family: "Open Sans";
  &:hover {
    color: rgba(80,80,80,1);
  }
  &:focus {
    color: rgba(80,80,80,1);
  }
}

.margin-bottom {
  margin-bottom: 40px;
}

@media only screen and (max-width: 800px) {
  .about-image {
    max-width: 250px;
  }

  .hide-video {
    display: none;
  }
}

.about-text {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 5vw 0px 5vw;
}

// @media only screen and (max-width: 1600px) {
//     .about-text {
//     padding: 0px 10vw 0px 10vw;
//   }
// }

// @media only screen and (max-width: 1200px) {
//     .about-text {
//     padding: 0px 5vw 0px 5vw;
//   }
// }

