.bottom-margin {
  margin-bottom: 10vh;
}

.about-image {
  width: 250px;
  height: 350px;
}

.link-text {
  font-size: 18px;
  color: rgba(80,80,80,1);
  font-weight: bold;
  &:hover {
    color: rgba(80,80,80,1);

  }
}

.margin-bottom {
  margin-bottom: 10vh;
}
