.bottom-margin {
  margin-bottom: 10vh;
}

.about-image {
  max-width: 350px;
  margin-bottom: 5vh;
}

.link-text {
  font-size: 18px;
  color: rgba(80,80,80,1);
  font-weight: bold;
  &:hover {
    color: rgba(80,80,80,1);

  }
}

.margin-bottom {
  margin-bottom: 10vh;
}

@media only screen and (max-width: 800px) {
  .about-image {
    max-width: 250px;
  }
}
