.contact-container {
  background-image: asset-url('contact-splash');
  background-position: bottom;
  background-size: cover;
  height: 82vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(80,80,80,1);
}

.section {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
}

.contact-flex-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,.5);
  height: 60vh;
  width: 35vw;
  margin-left: 10vw;
}

.contact-holder {
  height: 50vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-flex {
  display: flex;
  align-items: center;
}

.contact-avatar {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 1px solid rgba(80,80,80,1);
}

.contact {
  font-size: 3.5vmin;
  font-weight: lighter;
}

.bold-large {
  font-size: 2.5vmin;
  font-weight: bold;
}

.margin-left {
  margin-left: 20px;
}

#email_input {
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid rgba(80,80,80,1);
  &:focus {
    outline-offset: 0;
    outline: none;
  }
}

.send-button {
  color: #fff;
  background-color: rgba(80,80,80,1);
  padding: 6px 20px 7px 20px;
  margin-left: -5px;
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(60,60,60,1);
  }
}


@media only screen and (max-width: 1200px) {
  .contact-container {
    height: 80vh;
    width: 100vw;
    color: rgba(80,80,80,1);
    display: block;
  }
  .section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-flex-holder {
    height: 70vh;
    width: 80vw;
    margin: 5vw 0;
  }
  .contact-holder {
    height: 50vh;
    width: 60vw;
  }
}

@media only screen and (max-width: 800px) {
  .contact-avatar {
    height: 50px;
    width: 50px;
  }

  .bold-large {
    font-size: 3.5vmin;
  }

  .send-button-holder {
    margin-top: 5px;
  }

  .send-button {
    margin: 0;
  }
}
