body {
  background-color: #F9F9F9;
}

.player {
  width: 100vw;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.player__video {
  width: 100%;
}

.player__button {
  background: transparent;
  border: none;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  font-size: 0px;
  position: absolute;
  bottom: 48%;
  left: 48%;
}

.player:hover .player__button {
  font-size: 50px;
}

.main-text {
  padding: 5vw 15vw ;
}

.main-content {
  color: rgba(80,80,80,1);
  font-weight: lighter;
  font-size: 18px;
  padding-bottom: 5vh;
}

.subheader {
  color: rgba(100,100,100,1);
  font-weight: bold;
}

.latest-work-flex {
  display: flex;
  justify-content: space-around;
}

.vertical-margin {
  margin: 5vh 0;
}

.latest-work-card {
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  position: relative;
  transition: transform .5s;
  &:hover {
    transform: scale(1.1);
  }
}

.latest-work-type {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 0;
  transition: font-size .5s;
}

.latest-work-title {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
  font-size: 0;
  transition: font-size .5s;
}

.linear-gradient-hover {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  width: 300px;
  height: 200px;
  transition: background-image 5s;
}

.latest-work-card:hover .latest-work-type {
  font-size: 16px;
}

.latest-work-card:hover .latest-work-title {
  font-size: 16px;
}

.latest-work-card:hover .linear-gradient-hover {
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0.2));
}

