body {
  background-color: #F9F9F9;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: rgba(80,80,80,1);
  &:hover {
    color: rgba(80,80,80,1);
  }
}

.player {
  width: 100vw;
  height: calc(100vw / 2.4);
  position: relative;
  font-size: 0;
  overflow: hidden;
  position: relative;
}

.player__video {
  width: 100%;
  position: absolute;
  top: calc(-100vw / 12.5);
  left: 0;
}

.video-logo-holder {
  width: 100vw;
  height: calc(100vw / 2.4);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-and-play {
  height: 25vh;
  margin-bottom: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-and-play-about {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video-logo {
  height: 100px;
  width: 100px;
  opacity: 0.3;
}

.volume-toggle {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.volume-logo {
  height: 30px;
  width: 30px;
  opacity: 0.3;
  position: absolute;
  bottom: 10px;
  right: 10px;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.video-text {
  height: 20px;
  color: white;
  font-weight: bold;
  opacity: 0.3;
  position: absolute;
  bottom: 15px;
  left: 15px;
  &:hover {
    opacity: 0.7;
  }
}

.logo-and-play:hover .video-logo {
  opacity: 0.7;
}

.logo-and-play:hover .player_button {
  opacity: 0.7;
}

.modal_player_video {
  height: 100vh;
  width: 100vw;
}

.modal_video {
  height: 100vh;
  width: 100vw;
}

.player_button {
  background: transparent;
  border: none;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  font-size: 50px;
  opacity: 0.3;
}


.main-text {
  padding: 60px 15vw 0px 15vw;
}

.main-content {
  color: rgba(80,80,80,1);
  font-weight: lighter;
  font-size: 2vmin;
  padding-bottom: 30px;
  font-family: "Antic";
}

.subheader {
  color: rgba(100,100,100,1);
  font-weight: bold;
}

.latest-work-flex {
  display: flex;
  justify-content: space-around;
}

.vertical-margin {
  margin: 5vh 0;
}

.latest-work-card {
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  position: relative;
  transition: transform .5s;
  margin-bottom: 20px;
  &:hover {
    transform: scale(1.1);
  }
}

.latest-work-type {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 0;
  // transition: font-size .5s;
}

.latest-work-title {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
  font-size: 0;
  // transition: font-size .5s;
}

.linear-gradient-hover {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  // width: 300px;
  height: 250px;
  transition: background-image 5s;
}

.latest-work-card:hover .latest-work-type {
  font-size: 16px;
}

.latest-work-card:hover .latest-work-title {
  font-size: 16px;
}

.latest-work-card:hover .linear-gradient-hover {
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0.2));
}

.main-body {
  min-height: 82vh;
}

@media only screen and (max-width: 800px) {

  .logo-and-play {
    height: 10vh;
  }
  .video-logo {
    height: 50px;
    width: 50px;
  }
  .player_button {
    font-size: 25pxr;
  }
  .main-body {
    min-height: 84vh;
  }
}

@media only screen and (max-width: 600px) {

  .logo-and-play {
    height: 5vh;
  }
  .video-logo {
    height: 25px;
    width: 25px;
  }
  .player_button {
    font-size: 15px;
  }
}

