<div class="footer">
  <div class="footer-left">
    <p>
      <a class="margin-top" href="mailto:jamie1wild@gmail.com">jamie1wild@gmail.com</a>
    </p>
    <p>07921 812332</p>
  </div>
  <div class="footer-center">
    <i class="fab fa-instagram footer-insta"></i>
  </div>
  <div class="footer-right">
    <p class="margin-top">&copy; 2018 James Wild.</p>
    <p>All Rights Reserved.</p>
  </div>
</div>
