<div class="footer">
  <div class="footer-left">
    <p style="margin-bottom: 0px;">jamie1wild@gmail.com - +447921812332</p>
  </div>
  <div class="footer-center">
    <%= link_to "https://www.instagram.com/james_wild_sculptures/", class: "insta-link", target: "_blank" do %>
      <i class="fab fa-instagram footer-insta"></i>
    <% end %>
  </div>
  <div class="footer-right">
    <p style="margin-bottom: 0px;">&copy; 2018 James Wild. All Rights Reserved.</p>
  </div>
</div>
