<div class="navbar-wagon">
  <p>I am a navbar. Change me or delete me</p>
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete do %>
        <%= t(".sign_out", default: "SIGN OUT") %>
    <% end %>
  <% else %>
    <%= link_to t(".sign_in", default: "SIGN IN"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <% end %>
</div>

