<div class="navbar-wagon">
  <div class="navbar-left">
    <%= link_to "/" do %>
      <%= image_tag "Logo.jpg", class:"jw-logo" %>
    <% end %>
    <div class="navbar-name">
      <p class="no-margin">JAMES WILD</p>
      <p class="no-margin">SCULPTURE</p>
    </div>
  </div>
  <div class="navbar-right">
    <p class="no-margin">SCRAP</p>
    <p class="no-margin">BRONZE</p>
    <%= link_to "ABOUT", about_path, class:"no-margin"%>
    <p class="no-margin">NEWS</p>
    <%= link_to "CONTACT", contact_path, class:"no-margin"%>
  </div>
</div>

