<div class="navbar-wagon">
  <div class="navbar-left">
    <div class="jw-logo"></div>
    <div class="navbar-name">
      <p class="no-margin">JAMES WILD</p>
      <p class="no-margin">SCULPTURE</p>
    </div>
  </div>
  <div class="navbar-right">
    <p class="no-margin">SCRAP</p>
    <p class="no-margin">BRONZE</p>
    <p class="no-margin">ABOUT</p>
    <p class="no-margin">NEWS</p>
    <p class="no-margin">CONTACT</p>
  </div>
</div>

