<div class="about-container">
  <div class="home-video">
    <div class="player">
      <%= video_tag "James-Wild-Home.mp4", class: "player__video viewer"%>
      <button class="player__button toggle" title="Toggle Play">►</button>
    </div>
  </div>
  <div class="main-text">
    <h4 class="text-center subheader">ABOUT JAMES</h4>
    <p class="text-center main-content">Having worked as an apprentice to a blacksmith in Cornwall, James learnt the traditional skills and techniques of working with metal. This provided the platform on which James has developed and refined his unique style of working with reclaimed metals.</p>
    <p class="text-center main-content">James has completed over 60 bespoke commissions and continues to work closely with private clients to achieve personal works of art.</p>
  </div>
  <div class="about-carousel">
    <p>I will be a carousel</p>
  </div>
</div>

<script>
  const player = document.querySelector('.player');
  const video = player.querySelector('.viewer');
  const toggle = player.querySelector('.toggle');

  function togglePlay() {
    if (video.paused) {
      video.play()
    } else {
      video.pause()
    }
  }

  function updateButton() {
    const icon = this.paused ? '►' : '❚❚';
    console.log(icon);
    toggle.textContent = icon;
  }

  video.addEventListener('click', togglePlay);
  video.addEventListener('play', updateButton);
  video.addEventListener('pause', updateButton);
  toggle.addEventListener('click', togglePlay);
</script>
