<div class="contact-container">
  <div class="section">
    <div class="contact-flex-holder ">
      <div class="contact-holder">
        <h4 class="text-center">CONTACT</h4>
        <div class="contact-flex">
          <%= image_tag ("Phone"), class: "contact-avatar" %>
          <p class="bold-large margin-left">jamie1wild@gmail.com</p>
        </div>
        <div class="contact-flex">
          <%= image_tag ("Mail"), class: "contact-avatar" %>
          <p class="bold-large margin-left">07921 812332</p>
        </div>
        <p class="text-center bold-large">Enter your email to recieve a free digital brochure</p>
        <div class="newsletter-signup text-center">
          <input id="email_input" type="text" placeholder="Email..."/>
          <a class="send-button" href="">SEND</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section"></div>
</div>
