<h1>CMS Boilerplate</h1>
<p>Change me to a landing splash or reroute me to the <%= link_to "Projects", projects_path %> index</p>
<p>The site will have a login page with only one user, the page owner. There will be no way to sign up. As such all the project CRUD can be hidden behind user_signed_in? logic</p>
<h2>To Do:</h2>
<ul>
  <li><p>Connect up react</p></li>
  <li><p>Implement devise logic for actions</p></li>
  <li><p>Issue with updating project photos</p></li>
</ul>

<%= javascript_pack_tag 'hello_react' %>
