<div style="background-image: url('<%= image_path('bronze_background.png') %>');" class="banner">
</div>
<p class="index-header">BRONZE SCULPTURE</p>
<div class="circle-holder">
  <img class="circles" src="<%= image_path('bronze-circles.png') %>" alt="Study > Collect > Construct > Cast > Patinate">
</div>
<div class="container card-holder">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render "shared/card", project: project %>
      </div>
    <% end %>
  </div>
</div>
