<h3 class="index-header">BRONZE SCULPTURE</h3>
<div class="about-text">
  <p class="text-center main-content">James’ bronze sculpture follows the same process as his scrap metal work - until it enters the foundry. This is where by using the time-honoured lost wax process, his sculptures can be cast in bronze. James works closely with the foundry throughout the process to ensure that the complex intricacies of his sculpture are captured.</p>
  <p class="text-center main-content">James’ inspiration to explore bronze came from seeing an opportunity to be inventive within this age-old, traditional medium. After much experimentation, James discovered the way to merge the qualities of bronze casting with his unique style of working in scrap metal.</p>
  <p class="text-center main-content">Each bronze is patinated, signed and numbered.</p>
</div>
<div class="circle-holder">
  <img class="circles" src="<%= image_path('bronze-circles.png') %>" alt="Study > Collect > Construct > Cast > Patinate">
</div>
<div class="container card-holder">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render "shared/card", project: project %>
      </div>
    <% end %>
  </div>
</div>
