<% @projects.each do |project| %>
  <%= link_to project_path(project) do %>
    <h1><%= project.name %></h1>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= link_to new_project_path do%>
    <p>Add a project</p>
  <% end %>
<% else %>
  <p>This is where the links for a logged in user live</p>
<% end %>

<p><%= link_to "Home", root_path %></p>
