<div style="background-image: url('<%= image_path('scrap_background.png') %>');" class="banner">
</div>
<p class="index-header">SCRAP SCULPTURE</p>
<div class="circle-holder">
  <img class="circles" src="<%= image_path('scrap-circles.png') %>" alt="Study > Collect > Construct > Protect">
</div>
