<style>
  .blogbg {
    width: 100%;
    position: relative;
  }
  .blogbg::after {
    content: "";
    background: url(<%= asset_path(@bg) %>);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  .small {
    font-size: 2rem !important;
  }

</style>

<div class="blogbg">
  <div class="container" style="padding: 3vh 5vw;">
    <div class="main-text">
      <h3 class="index-header mb40">NEWS FROM THE WORKSHOP</h3>
    </div>
    <div class="row">
      <% @updates.each do |update| %>
        <%= link_to update_path(update) do %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="latest-work-card update" style="background-image: url(<%= update.photo? ? cl_image_path(update.photo, :format => :webp, :quality => 10) : image_path("Logo.jpg") %>);">
              <div class="latest-work-title small"><%= update.title.truncate(60) %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

