.show-container {
  padding: 10vh 10vw;
}

.show-text {
  color: rgba(100,100,100,1);
}

.show-title {
  font-size: 3vmin;
}

.main-image {
  margin-bottom: 5vh;
}

.image-splash {
  width: 80vw;
  box-shadow: 1px 2px 5px rgba(180,180,180,1);
  height: 80vh;
  background-position: center;
  background-size: cover;
}

.additional-images {
  height: 150px;
  box-shadow: 1px 2px 5px rgba(180,180,180,1);
}

.modal-image {
  height: 80vh;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  box-shadow: 1px 2px 3px rgba(80,80,80,.2);
}

#modal-image {
  height: 80vh;
}

.modal-image-splash {
  width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: center;
}

#left-trigger {
  height: 40px;
  margin-left: 5vw;
}

#right-trigger {
  height: 40px;
  margin-right: 5vw;
}

.modal-backdrop {
  opacity: 0.81 !important;
  background-color: #f9f9f9;
}


