.hey-james {
  text-align: right;
}

#close-modal {
  position: absolute;
  top: 40px;
  right: 40px;
}

.show-container {
  padding: 10vh 10vw;
}

.show-text {
  color: rgba(100,100,100,1);
  margin-bottom: 30px;
}
.modal {
  height: 100vh !important;
  background-color: black;
  // display: flex;
}

.show-title {
  font-size: 3vmin;
}

.main-image {
  margin-bottom: 5vh;
}

.image-splash {
  width: 80vw;
  box-shadow: 1px 2px 5px rgba(180,180,180,1);
  height: 80vh;
  background-position: center;
  background-repeat:no-repeat;
  background-size: contain;
  cursor: pointer;
  background-color:black;
}

.additional-images {
  cursor: pointer;
  height: 150px;
  box-shadow: 1px 2px 5px rgba(180,180,180,1);
  margin-bottom: 40px;
}

.modal-image {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  // box-shadow: 1px 2px 3px rgba(80,80,80,.2);
}

#modal-image {
  // height: 100vh;
  max-width: 80vw;
}

.modal-image-splash {
  width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: center;
}

#left-trigger {
  height: 40px;
  margin-left: 5vw;
  cursor: pointer;
}

#right-trigger {
  height: 40px;
  margin-right: 5vw;
  cursor: pointer;
}

.modal-backdrop {
  opacity: 0.81 !important;
  background-color: #f9f9f9;
}

.close-modal-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.modal-container {
  display: flex;
  height: 100vh;
}

@media only screen and (max-width: 900px) {
  #modal-image {
    max-width: 68vw;
  }

  .close-modal-icon {
  height: 15px;
  width: 15px;
  cursor: pointer;
  }

  #left-trigger {
    height: 30px;
    margin-left: 5vw;
    cursor: pointer;
  }

  #right-trigger {
    height: 30px;
    margin-right: 5vw;
    cursor: pointer;
  }
}
