.banner {
  height: calc(100vw / 2.354);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.circle-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vw;
  @media only screen and (min-width: 980px) {
    margin-top: 6.5vw;
  }
  @media only screen and (min-width: 1300px) {
    margin-top: 5vw;
  }
}

.circles {
  max-width: 60vw;
}

.scrap-circles {
  max-width: 50vw;
}

@media only screen and (max-width: 900px) {
  .circle-holder {
    display: none;
  }
  .circles {
    max-width: 80vw;
  }

  .scrap-circles {
    max-width: 70vw;
  }

}
