.banner {
  height: calc(100vw / 2.354);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.index-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  color: rgba(100,100,100,1);
  font-family: "Open Sans";
}

.circle-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
}

.circles {
  max-width: 60vw;
}

.scrap-circles {
  max-width: 50vw;
}

@media only screen and (max-width: 900px) {
  .about-text {
    display: none;
  }
  .circle-holder {
    display: none;
  }
  .circles {
    max-width: 80vw;
  }

  .scrap-circles {
    max-width: 70vw;
  }

}
