.banner {
  height: calc(100vw / 2.354);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.index-header {
  text-align: center;
  font-size: 3.5vmin;
  margin-top: 3vh;
  margin-bottom: 3vh;
  color: rgba(100,100,100,1);
  font-weight: bold;
}

.circle-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
}

.circles {
  max-width: 90vw;

}
