.card-image {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}
.card {
  padding: 10px;
  position: relative;
  p {
    margin-top: 1vh;
    letter-spacing: 3px;
    font-size: 2vmin;
    color: #505050;
  }
  a {
    text-decoration: none;
  }
}
.card-holder {
  margin-top: 4vh;
  margin-bottom: 6vh;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
