.edit-delete-links {
  display: flex;
  justify-content: flex-end;
  position: flex-end;
}

.links-circle {
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid black;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 10px;
}

.links-icons {
  height: 2vh;
}
