.footer {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  color: rgba(80,80,80,1);
  height: 10vh;
  font-family: 'Antic', sans-serif;
  font-size: 16px;
  a:hover {
    color: rgba(120,120,120,1);
    text-decoration: none;
    cursor: pointer;
  }
}

.footer-right {
  width: 40%;
  text-align: right;
}
.footer-left {
  width: 40%;
}
.footer-insta {
  font-size: 4vmin;
  &:hover {
    color: rgba(120,120,120,1);
    cursor: pointer;
  }
}

.margin-top {
  margin: 12.5px 0 12.5px;
}

.margin-link {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

@media only screen and (max-width: 400px) {
  .footer {
    font-size: 10px;
    height: 8vh;
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    font-size: 14px;
    height: 8vh;
  }
  .margin-top {
    margin: 12.5px 0 0;
  }
  .margin-link {
    margin-bottom: 0;
  }
}
