.footer {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  color: rgba(80,80,80,1);
}

.footer-insta {
  font-size: 35px;
}

.margin-top {
  margin: 12.5px 0 12.5px;
}
