/* Main navbar */
.navbar-wagon {
  background: white;
  transition: all 0.3s ease;
  height: 10vh;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  width: 15vw;
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  align-items: flex-end;
}

.no-margin {
  margin: 0;
}

.jw-logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: grey;
}
