.navbar-JW {
  background: white;
  transition: all 0.3s ease;
  height: 8vh;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Antic', sans-serif;
  min-height: 80px;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  align-items: flex-end;
}
.inactive-link {
  height: 40px;
}
.active-link {
  height: 40px;
  border-bottom: 4px solid #505050;
}
.no-margin {
  margin: 0;
}

.jw-logo {
  height: 7vh;
  width: 7vh;
  min-height:70px;
  min-width: 70px;
  border-radius: 50%;
}

.mobile-jw-logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.navbar-link {
  color: #505050;
  font-size: 19px;
  &:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}

.logo-text {
  font-size: 24px;
  margin-left: 10px;
  line-height: 1;
}

.mobile-logo-text {
  font-size: 19px;
  margin-left: 10px;
  line-height: 1;
}

.offset {
  margin-left: 30px;
}

.mobile-navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left !important;
  height: 100%;
}

.mobile-navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right !important;
  height: 100%;
}

.mobile-nav {
  display: none !important;
  background: white;
  transition: all 0.3s ease;
  height: 60px;
  // padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Antic', sans-serif;
}

.drop-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  min-width: 100px;
  // display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 20px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.left-margin {
  margin-left: 20px;
  margin-bottom: 0px;
}
.show {
  display: block !important;
}

@media only screen and (max-width: 400px) {
  .mobile-logo-text {
    max-width: 150px;
  }
}

@media only screen and (max-width: 800px) {
  .navbar-JW {
    display: none;
  }
  .mobile-nav {
    display: block !important;
  }
}
