.navbar-JW {
  background: $letch;
  transition: all 0.3s ease;
  // height: 8vh;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  min-height: 80px;
}

.mailing-list-link {
  position: relative;
}

.mailing-list-counter {
  position: absolute;
  top: -15px;
  right: -20px;
  background-color: red;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  align-items: flex-end;
}
.inactive-link {
  height: 40px;
}
.active-link {
  height: 40px;
  a {
    color: $etch;
  }
  border-bottom: 4px solid $etch;
}
.no-margin {
  margin: 0;
}

.jw-logo {
  width: 16vw;
  min-width: 160px;
  max-width: 350px;
}

.navbar-link {
  color: $black;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: $etch;
    font-weight: 600;
  }
  &:focus {
    text-decoration: none;
    color: $etch;
    font-weight: 600;
  }
}

.logo-text {
  font-size: 24px;
  margin-left: 10px;
  line-height: 1;
}

.nodec {
  &:focus {
    text-decoration: none !important;
    color: #505050;
  }
  &:hover {
    text-decoration: none !important;
    color: #505050;
  }
}

.mobile-logo-text {
  font-size: 19px;
  margin-left: 10px;
  line-height: 1;
}

.offset {
  margin-left: 30px;
}

.mobile-navbar-left {
  display: flex;
  padding-left: 5vw;
  justify-content: space-between;
  align-items: center;
  float: left !important;
  height: 100%;
}

.mobile-navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right !important;
  height: 100%;
}

.mobile-nav {
  display: none !important;
  background: $letch;
  transition: all 0.3s ease;
  height: 60px;
  // padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
}

.vert-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.drop-menu {
  position: absolute;
  top: 100%;
  right: 20px;
  z-index: 1000;
  display: none;
  min-width: 200px;
  align-items:center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 20px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.left-margin {
  margin-left: 20px;
  margin-bottom: 0px;
}
.show {
  display: flex !important;
}

@media only screen and (max-width: 400px) {
  .mobile-logo-text {
    max-width: 150px;
  }
}

@media only screen and (max-width: 1050px) {
  .navbar-JW {
    display: none;
  }
  .mobile-nav {
    display: block !important;
  }
}
